# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env
.env.*

# PostgreSQL data
postgres_data/
pgdata/

# Docker logs
*.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db